.jumbo-left {
	padding-top: 10%;
}

.jumbo-right {
	padding-top: 3%;
}

.story-jumbo .btn {
	margin-top: 1vh;
}

.story-jumbo .row {
	background-color: rgb(13, 212, 179);
	padding: 21vh 0;
}

.storydiv {
	margin: 10vh 10vw;
}

.storydiv h1 {
	font-size: 12vh;
	font-weight: 800;
}

.storydiv .story {
	background-color: rgb(13, 212, 179);
	border-radius: 5vh;
	margin: 10vh 0;
}
