.jumbo-left {
    padding-top: 10%;
}

.jumbo-right {
    padding-top: 3%;
}

.btn {
    margin-top: 3%;
}

.img-responsive {
    width: 50%;
    height: 100%;
    background-color: #b3b3b3;
}

.row {
    background-color: #b3b3b3;
    padding-bottom: 5%;
    margin-top: 3%;
}