.signuppage a {
	text-decoration: none;
	color: #ffffff;
}
.signuppage a:hover {
	text-decoration: none;
}
.signuppage {
	background-color: rgb(13, 212, 179);
	padding-bottom: 5vh;
}
.signuppage input {
	outline: none;
	border: none;
}
.signuppage button {
	outline: none;
	border: none;
}
.signuppage .container .row {
	padding: 0;
	background-color: #fff;
}
.signuppage .container {
	padding: 0 5vw;
}
.signuppage .login-box {
	margin: 10vh 0;
	padding: 0;
	border-radius: 20px;
	overflow: hidden;
}
.signuppage .login-content {
	padding: 10vh 7vw;
}
.signuppage .login-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: 900;
	color: #333333;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	width: 100%;
	display: block;
	padding-bottom: 54px;
}
.signuppage .login-info {
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin-bottom: 15px;
	padding: 0 30px 0 25px;
	font-size: 15px;
	color: #666666;
	background: #e6e6e6;
	border-radius: 25px;
}
.signuppage .symbol {
	color: #666666;
	display: flex;
	justify-content: center;
	align-items: center;
}
.signuppage .login-info > div {
	position: relative;
	height: 45px;
}
.signuppage .login-info > div > input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1rem;
	font-family: "poppins", sans-serif;
}
.signuppage .login-btn {
	padding-top: 20px;
}
.signuppage .login-btn button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
	color: #ffffff;
	text-transform: uppercase;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	background: rgb(25, 173, 149);
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 70px;
}
.signuppage .login-btn button:focus {
	outline: none;
}
.signuppage .login-new {
	text-align: center;
}
.signuppage .login-new a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #666666;
}
.signuppage .login-new a:hover {
	color: rgb(25, 173, 149);
}
.signuppage .images {
	padding-left: 0;
}
.signuppage .images img {
	max-width: 100%;
	height: fit-content;
	padding: 0;
	object-fit: fill;
}
.signuppage .img-2 {
	opacity: 0.85;
}
